.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7f9fc;
}

.form-content {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 800px; /* Ajuste del tamaño */
  width: 90%;
  padding: 30px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
}

.card-icon i {
  font-size: 60px; /* Reducido el tamaño del icono */
  color: #4E5D6D;
}

.form-section {
  flex: 2;
  padding-left: 40px;
}

.form-section h1 {
  font-size: 28px; /* Reducido el tamaño del título */
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px; /* Reducido el margen */
  position: relative;
}

.input-icon input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px; /* Reducido el tamaño de la fuente */
  color: #333;
  background-color: #f9f9f9;
}

.input-icon input.invalid {
  border-color: #f44336;
}

.input-icon i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 16px; /* Reducido el tamaño del icono */
  color: #aaa;
}

.error {
  font-size: 12px; /* Reducido el tamaño de la fuente de errores */
  color: #f44336;
  margin-top: 5px;
}

.form-actions {
  text-align: center;
  margin-top: 15px; /* Reducido el margen superior */
}

.btn-primary {
  background-color: #1E40AF;
  color: white;
  padding: 12px 25px; /* Reducido el tamaño del botón */
  border: none;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #3b82f6;
}

.btn-secondary {
  background-color: #e2e8f0;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #ccd6e1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

.modal-content h2 {
  font-size: 20px; /* Reducido el tamaño del título */
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.cliente-creado {
  padding: 15px;
  background: #e7f5ff;
  border-radius: 8px;
  margin-top: 20px;
}