<div class="pastel-actualizar">
  <h1>Actualizar cliente</h1>
  <div class="form-card">
    <form (ngSubmit)="onSubmit()" class="pastel-form-grid">
      <div class="form-group">
        <label for="correoElectronico">Correo del usuario a actualizar</label>
        <input type="text" id="correoElectronico" name="correoElectronico" [(ngModel)]="correoElectronico" (ngModelChange)="onCorreoChange()"/>
      </div>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre"/>
      </div>

      <div class="form-group">
        <label for="newName">Nuevo nombre</label>
        <input type="text" id="newName" name="newName" [(ngModel)]="newName"/>
      </div>

      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" [(ngModel)]="apellido" />
      </div>

      <div class="form-group">
        <label for="nuevoCorreoElectronico">Nuevo correo electrónico</label>
        <input type="email" id="nuevoCorreoElectronico" name="nuevoCorreoElectronico" [(ngModel)]="nuevoCorreoElectronico" />
      </div>

      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" name="direccion" [(ngModel)]="direccion" />
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" name="telefono" [(ngModel)]="telefono"/>
      </div>

      <div class="form-group">
        <label for="estatus">Estado</label>
        <select id="estatus" name="estatus" [(ngModel)]="estado">
          <option [value]="null"></option>
          <option [value]="true">Activo</option>
          <option [value]="false">Inactivo</option>
        </select>
      </div>

      <div class="form-actions">
        <button type="submit">Guardar Cliente</button>
      </div>
    </form>
    
    <!-- Modal personalizado -->
    <div *ngIf="clienteActualizado" class="modal-overlay">
      <div class="modal-card">
        <h2>Cliente Actualizado Correctamente</h2>
        <p><strong>Nombre:</strong> {{ clienteActualizado.newName }}</p>
        <p><strong>Apellido:</strong> {{ clienteActualizado.apellido }}</p>
        <p><strong>Correo Electrónico:</strong> {{ clienteActualizado.nuevoCorreoElectronico || clienteActualizado.correoElectronico }}</p>
        <p><strong>Teléfono:</strong> {{ clienteActualizado.telefono }}</p>
        <p><strong>Dirección:</strong> {{ clienteActualizado.direccion }}</p>
        <p><strong>Estado:</strong> {{ clienteActualizado.estado ? 'Activo' : 'Inactivo' }}</p>
      </div>
    </div>
  </div>
</div>
